html {
  user-select: none;
  background: #232323;
  color: #B9B9B9;
  font-family: arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.c-button {
  padding: 5px 7px;
  border-radius: 6px;
  background: #565656;
  color: #C8C8C8;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.c-button:disabled {
  opacity: 0.3;
}

.p-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 240px;
  height: 240px;
}
.p-timer__logbtn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #3D3D3D;
  color: #A8A8A8;
  font-size: 14px;
}
.p-timer__circle {
  display: grid;
  place-items: center;
  position: absolute;
  z-index: -1;
  top: 10px;
  width: 220px;
  height: 220px;
  background-image: conic-gradient(#F2A33C 360deg, #565656 360deg);
  clip-path: circle();
}
.p-timer__circle::before {
  display: block;
  width: 210px;
  height: 210px;
  background: #232323;
  clip-path: circle();
  content: "";
}
.p-timer__duration {
  width: 170px;
  margin: 80px 0 0;
  text-align: center;
  color: #B9B9B9;
  font-size: 40px;
  font-weight: bold;
}
.p-timer__title {
  width: 160px;
  margin: 0 0 15px;
  padding: 3px 5px;
  border-radius: 6px;
  box-sizing: border-box;
  border: solid 2px #B9B9B9;
  opacity: 0.8;
  color: #B9B9B9;
  font-size: 12px;
  font-weight: bold;
}
.p-timer__title:disabled {
  border: solid 2px #B9B9B9;
  opacity: 0.4;
}
.p-timer__ctrl-btns {
  display: flex;
  justify-content: space-evenly;
  width: 130px;
}
.p-timer__ctrl-btns button {
  width: 55px;
  padding: 5px 0px;
}

.p-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.p-modal.is-open {
  display: flex;
  animation: modalopen 0.2s ease-in;
}
.p-modal__content {
  width: 90%;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  background: #232323;
}
.p-modal__content__message {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.p-modal__content__ctrl-btns {
  display: flex;
  justify-content: space-evenly;
  padding: 0 25px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 270px;
  padding-top: 10px;
}
.p-log__title {
  margin-bottom: 5px;
}
.p-log__content {
  width: 95%;
  margin-bottom: 5px;
}
.p-log__content iframe {
  width: 100%;
  height: 195px;
  border-radius: 10px;
}

.p-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 130px;
  padding: 20px 20px 0;
  font-size: 15px;
}
.p-settings__sound {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.p-settings__sound::after {
  position: absolute;
  top: 11px;
  right: 10px;
  content: "";
  width: 6px;
  height: 6px;
  transform: translate(50%, -50%) rotate(45deg);
  border-bottom: 2px solid #B9B9B9;
  border-right: 2px solid #B9B9B9;
}
.p-settings__sound select {
  padding: 3px 20px 3px 7px;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  color: #B9B9B9;
  font-size: 14px;
  cursor: pointer;
}
.p-settings__topmost {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 55px;
  margin-bottom: 15px;
}

.u-bgcolor-red {
  background: #D03A3A;
}

.u-bgcolor-yellow {
  background: #D4A106;
}
/*# sourceMappingURL=styles.css.map */
