@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-log {
  @include mixin.dbg-bgcolor(red, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  &__tabs {
    display: flex;
    margin-bottom: 7px;

    > li {
      width: 65px;
      color: variable.$color-tabfont;
      font-weight: bold;
      text-align: center;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      &.active {
        border-bottom: 3px solid variable.$color-tabactive;
        color: variable.$color-tabactive;
      }
    }
  }

  &__tab-contents {
    &__logs, &__chart, &__search {
      &.active {
        display: flex;
      }
    }

    &__logs {
      @include mixin.dbg-bgcolor(blue, 0);
      display: none;
      flex-direction: column;
      align-items: center;

      pre {
        width: calc(100vw - 30px);
        height: calc(100vh - 105px);
        border-radius: 5px;
        background: #121212;
        padding: 10px;
        font-size: 13px;
        user-select: text; // テキスト選択可
        overflow-y: auto; // スクロールバー表示
        margin-bottom: 5px;
      }

      &__sum {
        @include mixin.dbg-bgcolor(blue, 0);
        display: flex;
        height: 25px;

        input[type="date"]  {
          height: 100%;
          margin-left: 8px;
          padding-right: 1px;
          color: variable.$color-basefont;
          font-size: 15px;

          &::-webkit-calendar-picker-indicator {
            display: none;
          }
        }

        p {
          width: 130px;
          height: 100%;
          font-size: 14px;
          line-height: 27px; // 高さ調整
        }

        button {
          background: none;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }

    &__chart {
      @include mixin.dbg-bgcolor(red, 0);
      display: none;
      flex-direction: column;
      align-items: center;
      width: calc(100vw - 20px);
      height: calc(100vh - 80px);
    }

    &__search {
      @include mixin.dbg-bgcolor(green, 0);
      display: none;
      flex-direction: column;
      align-items: center;
      padding-top: 2px;

      &__input {
        @include mixin.dbg-bgcolor(yellow, 0);
        display: flex;
        align-items: center;
        padding-right: 3px;
        margin-bottom: 5px;
        border-radius: 8px;
        border: solid 1px variable.$color-tabfont;

        input {
          width: 120px;
          margin: 2px 0;
          padding-left: 5px;
          color: variable.$color-basefont;
          font-size: 12px;

          &::-webkit-search-cancel-button {
            appearance: none;
          }
        }

        button {
          width: 16px;
          height: 16px;
          color: variable.$color-tabfont;
        }
      }

      pre {
        width: calc(100vw - 30px);
        height: calc(100vh - 130px);
        border-radius: 5px;
        background: #121212;
        padding: 10px;
        font-size: 13px;
        user-select: text; // テキスト選択可
        overflow-y: auto; // スクロールバー表示
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
      }
    }

  }

  // ボタン位置を下に固定
  &__close-btn {
    position: fixed;
    bottom: 8px;
  }

}

