@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-settings {
  @include mixin.dbg-bgcolor(green, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  height: 160px;
  padding: 15px 15px 0;
  font-size: 15px;

  &__sound {
    @include mixin.dbg-border(red, 1, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      top: 11px;
      right: 22px;
      content: '';
      width: 6px;
      height: 6px;
      transform: translate(50%, -50%) rotate(45deg);
      border-bottom: 2px solid variable.$color-basefont;
      border-right: 2px solid variable.$color-basefont;
    }

    select {
      height: 100%;
      margin-right: 12px;
      padding: 0px 20px 0px 7px;
      border: 1px solid #a3a3a3;
      border-radius: 6px;
      color: variable.$color-basefont;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__volume {
    @include mixin.dbg-border(red, 1, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;

    input {
      width: 80px;
    }
  }

  &__reset-hours {
    @include mixin.dbg-border(red, 1, 0);
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-right: 19px;
    margin-bottom: 5px;

    input {
      height: 100%;
      width: 45px;
      margin: 0px 2px 0px 17px;
      padding-left: 7px;
      border: 1px solid #a3a3a3;
      border-radius: 6px;
      color: variable.$color-basefont;
    }
  }

  &__topmost {
    @include mixin.dbg-border(red, 1, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-right: 67px;
    margin-bottom: 13px;
  }

  &__ctrl-btns {
    @include mixin.dbg-bgcolor(red, 0);
    display: flex;
    justify-content: space-evenly;
    width: 145px;

    button {
      width: 58px;
      padding: 5px 0px;
    }
  }
}

