@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-settings {
  @include mixin.dbg-bgcolor(green, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 130px;
  padding: 20px 20px 0;
  font-size: 15px;

  &__sound {
    @include mixin.dbg-bgcolor(red, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      top: 11px;
      right: 10px;
      content: '';
      width: 6px;
      height: 6px;
      transform: translate(50%, -50%) rotate(45deg);
      border-bottom: 2px solid variable.$color-basefont;
      border-right: 2px solid variable.$color-basefont;
    }

    select {
      padding: 3px 20px 3px 7px;
      border: 1px solid #a3a3a3;
      border-radius: 6px;
      color: variable.$color-basefont;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__topmost {
    @include mixin.dbg-bgcolor(blue, 0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 55px;
    margin-bottom: 25px;
  }
}

