@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-timer {
  @include mixin.dbg-bgcolor(red, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 240px;
  height: 240px;

  &__logbtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #3D3D3D;
    color: #A8A8A8;
    font-size: 14px;
  }

  &__circle {
    display: grid; // 子要素をグリッド内に配置
    place-items: center; // グリッド内の子要素を横縦中央に配置
    position: absolute;
    z-index: -1;
    top: 10px;
    width: 220px;
    height: 220px;
    background-image: conic-gradient(#F2A33C 360deg, #565656 360deg);
    clip-path: circle();

    // 内側の円
    &::before {
      display: block;
      width: 210px;
      height: 210px;
      background: variable.$color-basebg;
      clip-path: circle();
      content: "";
    }
  }

  &__duration {
    @include mixin.dbg-bgcolor(blue, 0);
    width: 170px;
    margin: 80px 0 0;
    text-align: center;
    color: variable.$color-basefont;
    font-size: 40px;
    font-weight: bold;
  }

  &__title {
    width: 160px;
    margin: 0 0 15px;
    padding: 3px 5px;
    border-radius: 6px;
    box-sizing: border-box;
    border: solid 2px variable.$color-basefont;
    opacity: 0.8;
    color: variable.$color-basefont;
    font-size: 12px;
    font-weight: bold;

    &:disabled {
      border: solid 2px variable.$color-basefont;
      opacity: 0.4;
    }

    // ドロップダウン選択時の設定
    &:-webkit-autofill {
      box-shadow: 0 0 0 100px variable.$color-basebg inset;
      -webkit-text-fill-color: variable.$color-basefont;
    }

    // ドロップダウン三角アイコン非表示
    &[list]::-webkit-calendar-picker-indicator {
      width: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
  }

  &__title-history {
    display: none;
    position: absolute;
    z-index: 10;
    top: 150px; // title input の直下に固定
    width: 160px;
    max-height: 78px; // 3件分
    overflow-y: auto;
    background: variable.$color-basebg;
    border: solid 1px variable.$color-basefont;
    border-radius: 3px;

    &.is-open {
      display: block;
    }

    &__item {
      padding: 6px 8px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background: #3D3D3D;
      }
    }
  }

  &__ctrl-btns {
    display: flex;
    justify-content: space-evenly;
    width: 130px;

    button {
      width: 55px;
      padding: 5px 0px;
    }
  }

}

