@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 240px;
  height: 240px;

  &__circle {
    display: grid; // 子要素をグリッド内に配置
    place-items: center; // グリッド内の子要素を横縦中央に配置
    position: absolute;
    z-index: -1;
    top: 10px;
    width: 220px;
    height: 220px;
    background-image: conic-gradient(#F2A33C 360deg, #565656 360deg);
    clip-path: circle();

    // 内側の円
    &::before {
      display: block;
      width: 210px;
      height: 210px;
      background: variable.$color-basebg;
      clip-path: circle();
      content: "";
    }
  }

  &__duration {
    @include mixin.dbg-bgcolor(blue, 0);
    width: 170px;
    margin: 80px 0 0;
    text-align: center;
    color: variable.$color-basefont;
    font-size: 40px;
    font-weight: bold;
  }

  &__title {
    width: 160px;
    margin: 0 0 15px;
    padding: 3px 5px;
    border-radius: 6px;
    box-sizing: border-box;
    border: solid 2px #a3a3a3;
    opacity: 0.6;
    color: #C8C8C8;
    font-size: 12px;
  }

  &__ctrl-btns {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
  }
}


